
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Admin/plugins/fontawesome-free/css/all.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Admin/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Admin/dist/css/adminlte.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Datetime picker -->
    <link rel="stylesheet" href="~/Admin/plugins/datetimepicker/bootstrap-datetimepicker.min.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Admin/plugins/summernote/summernote-bs4.css">
    <!-- Bootstrap 4 RTL -->
    <link rel="stylesheet" href="~/Admin/dist/css/bootstrap-rtl.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- RoundSlider -->
    <link rel="stylesheet" href="~/Admin/plugins/roundSlider-master/roundslider.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Admin/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

    <!-- Sweet Aler -->
    @*<link rel="stylesheet" href="~/Admin/plugins/sweetalert2/sweetalert2.min.css">*@
    <link rel="stylesheet" href="~/Admin/plugins/sweetalert2/sweetalert2.min.css">
    <!-- Custom style for RTL -->
    <link rel="stylesheet" href="~/Admin/dist/css/custom.css">
    <!-- Responsive RTL -->
    <link rel="stylesheet" href="~/Admin/dist/css/responsive-rtl.css">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <div class="info">
                        <form asp-action="CreateCustomer" asp-controller="Home" method="post">
                            <input type="submit" value="home">
                        </form>
                    </div>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Contact</a>
                </li>
            </ul>
            @await Html.PartialAsync("_LanguageSwitch")
            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Right navbar links -->
            <ul class="navbar-nav mr-auto-navbav">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/Admin/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Brad Diesel
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/Admin/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        John Pierce
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got your message bro</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/Admin/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">The subject goes here</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/Images/Logo/WhatsApp Image 2024-03-15 at 2.19.04 AM.jpeg" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8;">
                <span class="brand-text font-weight-light">الهضبه تـورز</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                @{
                    if (User.Identity.IsAuthenticated && User.IsInRole("superadmin"))
                    {
                        <!----------------------------------------------- Homepage ----------------------------------------------->
                        <div class="accordion" id="accordionMenu">
                            <!-- Dashboard Section -->


                            <div class="card custom-card">
                                <div class="card-header" id="HomePageSection">
                                    <h5 class="mb-0">
                                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseHomePage" aria-expanded="true" aria-controls="collapseHomePage">
                                            @Localizer["lbHomePage"]
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseHomePage" class="collapse show" aria-labelledby="HomePageSection" data-parent="#accordionMenu">
                                    <div class="card-body">
                                        <!-- Links for the HomePage section -->
                                        <ul class="nav nav-pills nav-treeview">
                                            <li class="nav-item">
                                                <a href="/HomePage/HomePage" class="nav-link">
                                                    <p>@Localizer["lbHomePage"]</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!----------------------------------------------- users ----------------------------------------------->

                            <div class="card custom-card">
                                <div class="card-header" id="dashboardSection">
                                    <h5 class="mb-0">
                                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseDashboard" aria-expanded="false" aria-controls="collapseDashboard">
                                            @Localizer["lbUserName"]
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseDashboard" class="collapse" aria-labelledby="dashboardSection" data-parent="#accordionMenu">
                                    <div class="card-body">
                                        <!-- Links for the Dashboard section -->
                                        <ul class="nav nav-pills nav-treeview">
                                            <li class="nav-item">
                                                <a href="/Accounts/Roles" class="nav-link">
                                                    <p>@Localizer["lbRoles"]</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Accounts/Register" class="nav-link">
                                                    <p>@Localizer["lbCurrentRegisters"]</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!----------------------------------------------- Customers Section ----------------------------------------------->
                            <div class="card custom-card">
                                <div class="card-header" id="customersSection">
                                    <h5 class="mb-0">
                                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseCustomers" aria-expanded="false" aria-controls="collapseCustomers">
                                            @Localizer["lbCustomer"]
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseCustomers" class="collapse" aria-labelledby="customersSection" data-parent="#accordionMenu">
                                    <div class="card-body">
                                        <ul class="nav nav-pills nav-treeview">
                                            <li class="nav-item">
                                                <a href="/Customers/CurrentCustomer" class="nav-link">
                                                    <p>@Localizer["lbCurrentCustomers"]</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card custom-card">
                                <div class="card-header" id="hotelsSection">
                                    <h5 class="mb-0">
                                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseHotels" aria-expanded="false" aria-controls="collapseHotels">
                                            @Localizer["lbHotels"]
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseHotels" class="collapse" aria-labelledby="hotelsSection" data-parent="#accordionMenu">
                                    <div class="card-body">
                                        <!-- Links for the Hotels section -->
                                        <ul class="nav nav-pills nav-treeview">
                                            <li class="nav-item">
                                                <a href="/Hotel/Index" class="nav-link">
                                                    <p>@Localizer["lbHotels"]</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card custom-card">
                                <div class="card-header" id="packagesSection">
                                    <h5 class="mb-0">
                                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapsepackages" aria-expanded="false" aria-controls="collapsepackages">
                                            @Localizer["lbPackages"]
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapsepackages" class="collapse" aria-labelledby="packagesSection" data-parent="#accordionMenu">
                                    <div class="card-body">
                                        <!-- Links for the packages section -->
                                        <ul class="nav nav-pills nav-treeview">
                                            <li class="nav-item">
                                                <a href="/Packages/Index" class="nav-link">
                                                    <p>@Localizer["lbPackages"]</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card custom-card">
                                <div class="card-header" id="ReservationsSection">
                                    <h5 class="mb-0">
                                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseReservations" aria-expanded="false" aria-controls="collapseReservations">
                                            @Localizer["lbReservations"]
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseReservations" class="collapse" aria-labelledby="ReservationsSection" data-parent="#accordionMenu">
                                    <div class="card-body">
                                        <!-- Links for the Reservations section -->
                                        <ul class="nav nav-pills nav-treeview">
                                            <li class="nav-item">
                                                <a href="/Reservations/Index" class="nav-link">
                                                    <p>@Localizer["lbReservations"]</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                    }
                    else
                    {
                        <div class="card custom-card">
                            <div class="card-header" id="HomePageSection">
                                <h5 class="mb-0">
                                    <button class="btn" type="button" data-toggle="collapse" data-target="#collapseHomePage" aria-expanded="true" aria-controls="collapseHomePage">
                                        @Localizer["lbHomePage"]
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseHomePage" class="collapse show" aria-labelledby="HomePageSection" data-parent="#accordionMenu">
                                <div class="card-body">
                                    <!-- Links for the HomePage section -->
                                    <ul class="nav nav-pills nav-treeview">
                                        <li class="nav-item">
                                            <a href="/HomePage/HomePage" class="nav-link">
                                                <p>@Localizer["lbHomePage"]</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion" id="accordionMenu">
                            <div class="card custom-card">
                                <div class="card-header" id="customersSection">
                                    <h5 class="mb-0">
                                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseCustomers" aria-expanded="false" aria-controls="collapseCustomers">
                                            @Localizer["lbCustomer"]
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseCustomers" class="collapse" aria-labelledby="customersSection" data-parent="#accordionMenu">
                                    <div class="card-body">
                                        <ul class="nav nav-pills nav-treeview">
                                            <li class="nav-item">
                                                <a href="/Customers/CurrentCustomer" class="nav-link">
                                                    <p>@Localizer["lbCurrentCustomers"]</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card custom-card">
                                <div class="card-header" id="hotelsSection">
                                    <h5 class="mb-0">
                                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseHotels" aria-expanded="false" aria-controls="collapseHotels">
                                            @Localizer["lbHotels"]
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseHotels" class="collapse" aria-labelledby="hotelsSection" data-parent="#accordionMenu">
                                    <div class="card-body">
                                        <!-- Links for the Hotels section -->
                                        <ul class="nav nav-pills nav-treeview">
                                            <li class="nav-item">
                                                <a href="/Hotel/Index" class="nav-link">
                                                    <p>@Localizer["lbHotels"]</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card custom-card">
                                <div class="card-header" id="packagesSection">
                                    <h5 class="mb-0">
                                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapsepackages" aria-expanded="false" aria-controls="collapsepackages">
                                            @Localizer["lbPackages"]
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapsepackages" class="collapse" aria-labelledby="packagesSection" data-parent="#accordionMenu">
                                    <div class="card-body">
                                        <!-- Links for the packages section -->
                                        <ul class="nav nav-pills nav-treeview">
                                            <li class="nav-item">
                                                <a href="/Packages/Index" class="nav-link">
                                                    <p>@Localizer["lbPackages"]</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card custom-card">
                                <div class="card-header" id="ReservationsSection">
                                    <h5 class="mb-0">
                                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseReservations" aria-expanded="false" aria-controls="collapseReservations">
                                            @Localizer["lbReservations"]
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseReservations" class="collapse" aria-labelledby="ReservationsSection" data-parent="#accordionMenu">
                                    <div class="card-body">
                                        <!-- Links for the Reservations section -->
                                        <ul class="nav nav-pills nav-treeview">
                                            <li class="nav-item">
                                                <a href="/Reservations/Index" class="nav-link">
                                                    <p>@Localizer["lbReservations"]</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                <!-- Sidebar Menu -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    @if (signInManager.IsSignedIn(User))
                    {

                        <div class="info">
                            <a href="#" class="d-block">@((await userManager.GetUserAsync(User)).Name)</a>

                            <form asp-action="Logout" asp-controller="Accounts" method="post">
                                <input type="submit" value="تسجيل الخروج" style="border:none; color:orange;background-color:#343a40">
                            </form>
                        </div>
                    }


                </div>
            </div>

            <!-- /.sidebar -->
        </aside>
        <!--Body -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!--End Body-->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <style>
        .custom-card {
            background-color: #f2f2f2; /* Set your desired gray color */
            border: 1px solid #d8d8d8; /* Set a border color if needed */
        }

            .custom-card .card-header button {
                font-size: 18px; /* Set your desired font size */
            }

            .custom-card .nav-link p {
                font-size: 16px; /* Set your desired font size */
            }
    </style>
    <!-- jQuery -->
    <script src="~/Admin/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Admin/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 rtl -->
    <script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/Admin/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Admin/plugins/sparklines/sparkline.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Admin/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- Datetime Picker -->
    <script src="~/Admin/plugins/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/Admin/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/Admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Admin/plugins/jszip/jszip.min.js"></script>
    <script src="~/Admin/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Admin/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/Admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <!-- RoundSlider -->
    <!-- daterangepicker -->
    <script src="~/Admin/plugins/moment/moment.min.js"></script>
    <script src="~/Admin/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/Admin/plugins/roundSlider-master/roundslider.min.js"></script>
    <!-- JQVMap -->
    <script src="~/Admin/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Admin/plugins/jqvmap/maps/jquery.vmap.world.js"></script>
    <!-- Select2 -->
    <script src="~/Admin/plugins/select2/js/select2.min.js"></script>
    <!-- bs-custom-file-input -->
    <script src="~/Admin/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- Sweetalert -->
    <script src="~/Admin/plugins/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11 -->
    <script src="~/Admin/plugins/sweetalert2/sweetalert2.js"></script>
    <!-- filter -->
    @*<script src="~/Admin/plugins/isotope/isotope.pkgd.min.js"></script>*@
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- AdminLTE App -->
    <script src="~/Admin/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Admin/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Admin/dist/js/pages/dashboard.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(function () {
            var focusedElement;
            $(document).on('focus', 'input', function () {
                if (focusedElement == this) return; //already focused, return so user can now place cursor at specific point in input.
                focusedElement = this;
                setTimeout(function () { focusedElement.select(); }, 100); //select all text in any field on focus for easy re-entry. Delay sightly to allow focus to "stick" before selecting.
            });
        });
    </script>
    @await RenderSectionAsync("Script", required: false);
</body>
</html>
