@model HotelViewModel

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="hotel.HotelNameFL">@Localizer["lbHotelNameFL"]</label>
        <input asp-for="hotel.HotelNameFL" class="form-control" />
        <span asp-validation-for="hotel.HotelNameFL" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="hotel.HotelNameSL">@Localizer["lbHotelNameSL"]</label>
        <input asp-for="hotel.HotelNameSL" class="form-control" />
        <span asp-validation-for="hotel.HotelNameSL" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="hotel.HotelRate">@Localizer["lbHotelRate"]</label>
    <select id="hotelRateSelect" asp-for="hotel.HotelRate" class="form-control" asp-items="@(new SelectList(Enumerable.Range(1, 7)))">
        <option value="">Select Rate</option>
    </select>
    <div id="starRatingContainer" class="mt-2"></div>
    <span asp-validation-for="hotel.HotelRate" class="text-danger"></span>
</div>
    <div class="form-group">
        <label asp-for="hotel.HotelLocation">@Localizer["lbHotelLocation"]</label>
        <input asp-for="hotel.HotelLocation" class="form-control" />
        <span asp-validation-for="hotel.HotelLocation" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="file">@Localizer["lbfile"]</label>
        <input type="file" name="file" class="form-control-file" />
        <span asp-validation-for="file" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">@Localizer["lbCreate"]</button>
</form>