@model List<HotelViewModel>

@{
    ViewData["Title"] = "Hotels";
    var currentCulture = ViewBag.currentCulture;
}

<div class="wrapper">
    <!--Content-Header-->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@Localizer["lbCurrentHotel"]</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/HomePage/HomePage">@Localizer["lbHomePage"]</a></li>
                        <li class="breadcrumb-item active">@Localizer["lbMangeHotel"]</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--End Content-Header-->
    <!-----------------------------------Button To add Nwe User  ---------------------------------------->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-start">
                        <h3 class="card-title" style="margin-left:20px">@Localizer["lbCurrentHotel"]</h3>

                        <div class="row">
                            <div class="col-md-12">
                                <a href="@Url.Action("Create", "Hotel")" class="btn btn-success">@Localizer["lbbtCreateNewHotel"]</a>
                            </div>
                        </div>
                        <div class="card-tools ">
                        </div>
                    </div>

                    <!----------------------------------- To ReViwe Users  ---------------------------------------->
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tableRole" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>@Localizer["lbHotelName"]</th>
                                    <th>@Localizer["lbHotelLoction"]</th>
                                    <th>@Localizer["lbHotelRate"]</th>
                                    <th>@Localizer["lbHotelPhoto"]</th>
                                    <th>@Localizer["lbHotelAction"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var hotelViewModel in Model)
                                {
                                    <tr>
                                        <td>
                                            @if (currentCulture == "ar")
                                            {
                                                @hotelViewModel.hotel.HotelNameFL
                                            }
                                            else
                                            {
                                                @hotelViewModel.hotel.HotelNameSL
                                            }
                                        </td>
                                        <td>@hotelViewModel.hotel.HotelLocation</td>
                                        <td>@hotelViewModel.hotel.HotelRate</td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(hotelViewModel.ImageFileName))
                                            {
                                                var imageSrc = Url.Action("GetImage", "Hotel", new { id = hotelViewModel.hotel.HotelId });
                                                <img src="@imageSrc" alt="Hotel Image" width="100" height="100" />
                                            }
                                            else
                                            {
                                                <span>No Photo Available</span>
                                            }
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-3">
                                            <a href="@Url.Action("Edit", "Hotel", new { id = hotelViewModel.hotel.HotelId })" class="btn btn-warning btn-sm">@Localizer["lbbtnEdit"]</a>
                                            </div>
                                                <div class="col-3">
                                            <form id="deleteForm-@hotelViewModel.hotel.HotelId" asp-action="Delete" asp-controller="Hotel" method="post">
                                                <input type="hidden" name="id" value="@hotelViewModel.hotel.HotelId" />
                                                <button type="button" class="btn btn-danger btn-sm" onclick="confirmDelete('@hotelViewModel.hotel.HotelId')">@Localizer["lbbtnDelete"]</button>
                                            </form>
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
@section Script
{
<script>
    function confirmDelete(customerId) {
        Swal.fire({
            title: '@Localizer["lbAreyousure"]',
            text: "@Localizer["lbCanback"]",
            icon: 'warning',
            showCancelButton: true,
            cancelButtonText: '@Localizer["lbcancelButtonText"]',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: '@Localizer["lbYesdelete"]'
        }).then((result) => {
            if (result.isConfirmed) {
                // If confirmed, submit the form
                document.getElementById('deleteForm-' + customerId).submit();
            }
        });
    }

</script>
    <script src="~/js/HotelIndex.js"></script>
}
