@model List<HomePageViewModel>
@{
    var customer = ViewBag.Customer as Customer;
}
<style>
    .card {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .card-body {
        flex-grow: 1;
    }
</style>
<div class="card-header d-flex align-items-center justify-content-start">
    <h3 class="card-title" style="margin-left:20px">@Localizer["lbHotelReservation"]</h3>

    <button type="button" style="margin-top:-5px"
            class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#CrateNew" onclick="Rest()">
        @Localizer["lbbtnSaveNewUser"]
    </button>
    <div class="card-tools ">
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4" style="padding-top:2%">
        @foreach (var hotelViewModel in Model)
        {
            <div class="col" style="padding-bottom:2%">
                <div class="card">
                    <div class="card-header">
                        @if (!string.IsNullOrEmpty(hotelViewModel.ImageFileName))
                        {
                            var imageSrc = Url.Action("GetImage", "Hotel", new { id = hotelViewModel.Hotel.HotelId });
                            <img src="@imageSrc" class="card-img-top" alt="Hotel Image" />
                        }
                        else
                        {
                            <span>No Photo Available</span>
                        }
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@hotelViewModel.Hotel.HotelNameFL</h5>
                        <p class="card-text">@hotelViewModel.Hotel.HotelLocation</p>
                        <p class="card-text">Rate: @hotelViewModel.Hotel.HotelRate</p>
                        <div class="form-group">
                            <label for="packageSelect-@hotelViewModel.Hotel.HotelId">Packages</label>
                            <select class="form-select" id="packageSelect-@hotelViewModel.Hotel.HotelId">
                                @foreach (var package in hotelViewModel.Packages)
                                {
                                    <option value="@package.PackageId">@package.PackageName</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="modal fade" id="CrateNew" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog card card-success card-outline">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["lbbtnSaveNewUser"]</h5>
                <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</a>
            </div>
            <div class="modal-body">
                <form asp-action="CreateCustomer" asp-controller="HomePage" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="@customer.CustomerId" class="control-lable">@Localizer["lbCustomerName"]</label>
                        <input type="text" class="form-control" asp-for="@customer.CustomerName" id="CustomerName" />
                        <span asp-validation-for="@customer.CustomerName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@customer.Address" class="control-lable">@Localizer["lbAddress"]</label>
                        <input asp-for="@customer.Address" class="form-control" asp-for="@customer.Address" id="Address" />
                        <span asp-validation-for="@customer.Address" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="@customer.NationalId" class="control-lable">@Localizer["lbNationalId"]</label>
                        <input asp-for="@customer.NationalId" class="form-control" asp-for="@customer.NationalId" id="NationalId" />
                        <span asp-validation-for="@customer.NationalId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@customer.Gender" class="control-lable">@Localizer["lbGender"]</label>
                        <select asp-for="@customer.Gender" class="form-control" id="gender">
                            <option value="1">@Localizer["lbMale"]</option>
                            <option value="2">@Localizer["lbFemale"]</option>
                        </select>
                        <span asp-validation-for="@customer.Gender" class="text-danger"></span>
                    </div>
                    <div class="modal-footer-rtl" style="padding:0 15px 15px 0">
                        <input type="submit" class="btn btn-success" value="@Localizer["lbbtnSave"]" />
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Script
{
    @if (!string.IsNullOrEmpty(Context.Session.GetString("msgType")))
    {
        if (Context.Session.GetString("msgType") == "success")
        {
            <script>
                Swal.fire({
                    icon: "success",
                    title: ' @Context.Session.GetString("titel")',
                    text: '@Html.Raw(Context.Session.GetString("msg"))',
                    showConfirmButton: 'حسناً',
                });
            </script>
        }
        else
        {
            <script>
                Swal.fire({
                    icon: "error",
                    title: '@Context.Session.GetString("titel")',
                    text: '@Html.Raw(Context.Session.GetString("msg"))',
                    showConfirmButton: 'حسناً',


                });

            </script>
        }
        Context.Session.SetString("msgType", "");
    }


    <script src="~/js/homepage.js"></script>

}

<style>
    /* Style for the select element */
    .form-select {
        appearance: none; /* Remove default appearance */
        -webkit-appearance: none; /* For older versions of Chrome/Safari */
        -moz-appearance: none; /* For older versions of Firefox */
        background-color: #f5f5f5; /* Background color */
        border: 1px solid #ccc; /* Border */
        padding: 8px 12px; /* Padding */
        font-size: 16px; /* Font size */
        border-radius: 5px; /* Border radius */
        width: 200px; /* Width */
    }


        .form-select option {
            background-color: #f5f5f5; /* Background color */
            color: #333; /* Text color */
        }

</style>

<script src="~/js/homepage.js"></script>

<!-- Your select element -->
