@model List<HomePageViewModel>
@{
    var customer = ViewBag.Customer as Customer;
}

<div class="card-header d-flex align-items-center justify-content-start m-3">
    <h3 class="card-title" style="margin-left:20px">@Localizer["lbHotelReservation"]</h3>

    
    <div class="card-tools ">
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var hotelViewModel in Model)
        {
            <input hidden="hidden" class="hotel-id" value="@hotelViewModel.Hotel.HotelId" />
            <div class="col">
                <div class="card bg-secondary">
                    @if (!string.IsNullOrEmpty(hotelViewModel.ImageFileName))
                    {
                        var imageSrc = Url.Action("GetImage", "Hotel", new { id = hotelViewModel.Hotel.HotelId });
                        <img src="@imageSrc" class="card-img-top" alt="Hotel Image" width="250" height="250" />
                    }
                    else
                    {
                        <span>No Photo Available</span>
                    }
                    <div class="card-body">
                        <h5 class="card-title">@hotelViewModel.Hotel.HotelNameFL</h5>
                        <p class="card-text">@hotelViewModel.Hotel.HotelLocation</p>
                        <p class="card-text">Rate: @hotelViewModel.Hotel.HotelRate</p>
                        <!-- Display associated packages as dropdown list -->
                        <h6 class="selectpicker">Packages</h6>

                        <!-- Form for reservation -->
                        <form asp-action="Create" asp-controller="Reservations" method="get">

                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @Localizer["lbpackages"]
                                </button>
                                <ul class="dropdown-menu">
                                    @foreach (var package in hotelViewModel.Packages)
                                    {
                                        <li><a class="dropdown-item" onclick="setPackageValue(this, '@package.PackageId')">@package.PackageName</a></li>
                                    }
                                </ul>
                            </div>

                            <input name="packageId" class="package-id" type="hidden" />
                            <input asp-for="@hotelViewModel.Hotel.HotelId" type="hidden" name="hotelId"/>

                            <button type="submit" class="btn btn-primary mt-3"> @Localizer["lbbtBookNow"] </button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>






@section Script
{
    @if (!string.IsNullOrEmpty(Context.Session.GetString("msgType")))
    {
        if (Context.Session.GetString("msgType") == "success")
        {
            <script>
                Swal.fire({
                    icon: "success",
                    title: ' @Context.Session.GetString("titel")',
                    text: '@Html.Raw(Context.Session.GetString("msg"))',
                    showConfirmButton: 'حسناً',
                });
            </script>
        }
        else
        {
            <script>
                Swal.fire({
                    icon: "error",
                    title: '@Context.Session.GetString("titel")',
                    text: '@Html.Raw(Context.Session.GetString("msg"))',
                    showConfirmButton: 'حسناً',


                });

            </script>
        }
        Context.Session.SetString("msgType", "");
    }


    <script src="~/js/homepage.js"></script>

}

<style>
    /* Style for the select element */
    .form-select {
        appearance: none; /* Remove default appearance */
        -webkit-appearance: none; /* For older versions of Chrome/Safari */
        -moz-appearance: none; /* For older versions of Firefox */
        background-color: #f5f5f5; /* Background color */
        border: 1px solid #ccc; /* Border */
        padding: 8px 12px; /* Padding */
        font-size: 16px; /* Font size */
        border-radius: 5px; /* Border radius */
        width: 200px; /* Width */
    }


        .form-select option {
            background-color: #f5f5f5; /* Background color */
            color: #333; /* Text color */
        }

</style>

<script src="~/js/homepage.js"></script>

<!-- Your select element -->>
