@model List<Hotel>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<h1>Hotel List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Hotel Id
            </th>
            <th>
                Hotel Name (Short)
            </th>
            <th>
                Hotel Name (Full)
            </th>
            <th>
                Hotel Rate
            </th>
            <th>
                Hotel Location
            </th>
@*             <th>
                Hotel Image
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.HotelId
                </td>
                <td>
                    @item.HotelNameSL
                </td>
                <td>
                    @item.HotelNameFL
                </td>
                <td>
                    @item.HotelRate
                </td>
                <td>
                    @item.HotelLocation
                </td>
@*                 <td>
                    <img src="@Url.Content("~/HotelImages/" + item.HotelId)" alt="Hotel Image" />
                </td> *@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.HotelId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.HotelId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.HotelId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>