@model ReservationViewModel

@{
    var hotelList = ViewBag.HotelList as SelectList;
    var packageList = ViewBag.PackageList as SelectList;
    var customerList = ViewBag.CustomerList;
    var selectedHotelId = ViewBag.hotelId;
    var selectedPackageId = ViewBag.packageId;
}
<style>
    label {
        margin: 0px;
    }
</style>
<input type="hidden" id="AdultPrice" />
<input type="hidden" id="KidPrice" />
<form asp-action="Create" onsubmit="return validateForm()">
    <div class="form-group">
        <label asp-for="@Model.reservation.HotelId">@Localizer["lbHotel"]</label>
        <select asp-for="@Model.reservation.HotelId" class="form-control" onchange="LoadPachages();" id="hotelSelect">
            <option value="0">@Localizer["lbSelectHotel"]</option>
            @foreach (var hotel in hotelList)
            {
                if (hotel.Value == selectedHotelId)
                {
                    <option value="@hotel.Value" selected>@hotel.Text</option>
                }else{
                    <option value="@hotel.Value">@hotel.Text</option>
                }
            }
        </select>
        <span asp-validation-for="@Model.reservation.HotelId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.reservation.PackageId">@Localizer["lbPackage"]</label>
        <select asp-for="@Model.reservation.PackageId" class="form-control" onchange="packageChange()" id="packageSelect">
            <option value="0">@Localizer["lbSelectPackage"]</option>
            @foreach (var package in packageList)
            {
                if (package.Value == selectedPackageId)
                {
                    <option value="@package.Value" selected>@package.Text</option>
                }else{
                    <option value="@package.Value">@package.Text</option>
                }
                
            }
        </select>
        <span asp-validation-for="@Model.reservation.PackageId" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="@Model.customer.CustomerName">@Localizer["lbCustomerName"]</label>
                <input type="text" asp-for="@Model.customer.CustomerName" class="form-control" disabled="disabled" id="CustomerName" />
                <span class="text-danger" id="VCustomerName"></span>
            </div>
          
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="@Model.customer.NationalId">@Localizer["lbNationalId"]</label>
                <input type="number" asp-for="@Model.customer.NationalId" class="form-control" disabled="disabled" id="NationalId" />
            </div>
        </div>
        <div class="col-md-2 mt-4">
            <button type="button" style="margin-top:-5px"
                    class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#CrateNew">
                @Localizer["lbbtnSelectCustomer"]
            </button>

        </div>
        <div class="col-md-2  mt-4">
            <button type="button" style="margin-top:-5px"
                    class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#CrateNewCustomer">
                @Localizer["lbbtnSaveNewUser"]
            </button>
        </div>
        <input hidden="hidden" asp-for="@Model.reservation.CustomerId" id="CustomerId" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.reservation.AdultNo">@Localizer["lbAdultsCount"]</label>
        <input type="number" id="AdultNo" asp-for="@Model.reservation.AdultNo " class="form-control" value="1" onchange="changeCounts()" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.reservation.KidNo">@Localizer["lbKidsCount"]</label>
        <input type="number" id="KidNo" asp-for="@Model.reservation.KidNo " class="form-control" value="0" onchange="changeCounts()" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.reservation.TotalPrice">@Localizer["lbTotalPrice"]</label>
        <input type="number" id="TotalPrice" asp-for="@Model.reservation.TotalPrice " class="form-control " disabled="disabled" />
        <input type="hidden" asp-for="@Model.reservation.TotalPrice" id="TotalPriceHidden" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.reservation.Discount">@Localizer["lbDiscount"]</label>
        <input type="number" id="Discount" asp-for="@Model.reservation.Discount " class="form-control" value="0" onchange="caluclateDiscount();" />
    </div>
    <div class="form-group">
        <label>@Localizer["lbPriceAfterDiscount"]</label>
        <input type="number" class="form-control" id="priceAfterDiscount" disabled="disabled" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.reservation.Paid">@Localizer["lbPaid"]</label>
        <input type="number" asp-for="@Model.reservation.Paid" id="Paid" class="form-control" onchange="changePaid();" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.reservation.Remain">@Localizer["lbRemain"]</label>
        <input type="number" asp-for="@Model.reservation.Remain" id="Remain" class="form-control" disabled="disabled"/>
        <input type="hidden" asp-for="@Model.reservation.Remain" id="RemainHidden" />

    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">@Localizer["lbSave"]</button>
    </div>
</form>

<div class="modal fade" id="CrateNew" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["lbbtnSelectCustomer"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
           
            <div class="modal-body">
                <section class="content">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-start">
                                    <h3 class="card-title" style="margin-left:20px">@Localizer["lbCurrentCustomer"]</h3>
                                    <div class="card-tools ">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table id="tableRole" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>@Localizer["lbID"]</th>
                                                <th>@Localizer["lbCustomerName"]</th>
                                                <th>@Localizer["lbNationalId"]</th>
                                                <th>@Localizer["lbbtnAction"]</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var customer in customerList)
                                            {
                                                <tr>
                                                    <td>@customer.CustomerId</td>
                                                    <td>@customer.CustomerName</td>
                                                    <td>@customer.NationalId</td>
                                                    <td>
                                                        <div class="col-3">
                                                            <input type="button" class="btn btn-info btn-sm" onclick="SelectCustomer('@customer.CustomerName','@customer.NationalId',@customer.CustomerId)" value="@Localizer["lbbtnSelectCustomer"]" data-bs-toggle="modal" />
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="CrateNewCustomer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog card card-success card-outline">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["lbbtnSaveNewUser"]</h5>
                <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</a>
            </div>
            <div class="modal-body">
                <form asp-action="CreateCustomer" asp-controller="Reservations" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="@Model.customer.CustomerId" class="control-lable">@Localizer["lbCustomerName"]</label>
                        <input type="text" class="form-control" asp-for="@Model.customer.CustomerName" id="CustomerName" />
                        <span asp-validation-for="@Model.customer.CustomerName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.customer.Address" class="control-lable">@Localizer["lbAddress"]</label>
                        <input asp-for="@Model.customer.Address" class="form-control"  id="Address" />
                        <span asp-validation-for="@Model.customer.Address" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="@Model.customer.NationalId" class="control-lable">@Localizer["lbNationalId"]</label>
                        <input asp-for="@Model.customer.NationalId" class="form-control" id="NationalId" />
                        <span asp-validation-for="@Model.customer.NationalId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="customer.MobileNumber" class="control-lable">@Localizer["lbMobileNumber"]</label>
                        <input asp-for="customer.MobileNumber" class="form-control" asp-for="customer.MobileNumber" id="MobileNumber" />
                        <span asp-validation-for="customer.MobileNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.customer.Gender" class="control-lable">@Localizer["lbGender"]</label>
                        <select asp-for="@Model.customer.Gender" class="form-control" id="gender">
                            <option value="1">@Localizer["lbMale"]</option>
                            <option value="2">@Localizer["lbFemale"]</option>
                        </select>
                        <span asp-validation-for="@Model.customer.Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>@Localizer["lbNationalIdImage"]</label>
                        <input type="file" name="file" class="form-control-file" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="modal-footer-rtl" style="padding:0 15px 15px 0">
                        <input type="submit" class="btn btn-info " value="@Localizer["lbbtnSave"]" />
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="~/js/reservation.js"></script>



@section Script
{
    @if (!string.IsNullOrEmpty(Context.Session.GetString("msgType")))
    {
        if (Context.Session.GetString("msgType") == "success")
        {
            <script>
                Swal.fire({
                    icon: "success",
                    title: ' @Context.Session.GetString("titel")',
                    text: '@Html.Raw(Context.Session.GetString("msg"))',
                    showConfirmButton: 'حسناً',
                });
            </script>
        }
        else
        {
            <script>
                Swal.fire({
                    icon: "error",
                    title: '@Context.Session.GetString("titel")',
                    text: '@Html.Raw(Context.Session.GetString("msg"))',
                    showConfirmButton: 'حسناً',


                });

            </script>
        }
        Context.Session.SetString("msgType", "");
    }


    <script>
        window.onload = function(){
            
            packageChange();
        }
        var wrnSelectHotel = @Localizer["lbMobileNumber"]
    </script>

}