@model ReservationViewModel

@{
    var hotelList = ViewBag.HotelList as SelectList;
    var packageList = ViewBag.PackageList as SelectList;
    var customerList = ViewBag.CustomerList as SelectList;
    var selectedHotelId = ViewBag.hotelId;
    var selectedPackageId = ViewBag.packageId;
}
<style>
    label {
        margin: 0px;
    }
</style>
<input type="hidden" id="AdultPrice" />
<input type="hidden" id="KidPrice" />
<form asp-action="Create">
    <div class="form-group">
        <label asp-for="@Model.reservation.HotelId">Select Hotel</label>
        <select asp-for="@Model.reservation.HotelId" class="form-control" onchange="LoadPachages();" id="hotelSelect">
            <option value="0">Select Hotel</option>
            @foreach (var hotel in hotelList)
            {
                if (hotel.Value == selectedHotelId)
                {
                    <option value="@hotel.Value" selected>@hotel.Text</option>
                }else{
                    <option value="@hotel.Value">@hotel.Text</option>
                }
            }
        </select>
        <span asp-validation-for="@Model.reservation.HotelId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.reservation.PackageId">Select Package</label>
        <select asp-for="@Model.reservation.PackageId" class="form-control" onchange="packageChange()" id="packageSelect">
            <option value="0">Select Package</option>
            @foreach (var package in packageList)
            {
                if (package.Value == selectedPackageId)
                {
                    <option value="@package.Value" selected>@package.Text</option>
                }else{
                    <option value="@package.Value">@package.Text</option>
                }
                
            }
        </select>
        <span asp-validation-for="@Model.reservation.PackageId" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="@Model.customer.CustomerName">Customer Name</label>
                <input type="text" asp-for="@Model.customer.CustomerName" class="form-control" disabled="disabled" />
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="@Model.customer.NationalId">Customer National ID</label>
                <input type="number" asp-for="@Model.customer.NationalId" class="form-control" disabled="disabled" />
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#CrateNew">
                @Localizer["Select Customer"]
            </button>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="@Model.reservation.AdultNo">Adults Count</label>
        <input type="number" id="AdultNo" asp-for="@Model.reservation.AdultNo " class="form-control" value="1" onchange="changeCounts()" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.reservation.KidNo">Kids Count</label>
        <input type="number" id="KidNo" asp-for="@Model.reservation.KidNo " class="form-control" value="0" onchange="changeCounts()" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.reservation.TotalPrice">Total Price</label>
        <input type="number" id="TotalPrice" asp-for="@Model.reservation.TotalPrice " class="form-control" disabled="disabled" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.reservation.Discount">Discount</label>
        <input type="number" id="Discount" asp-for="@Model.reservation.Discount " class="form-control" value="0" onchange="caluclateDiscount();" />
    </div>
    <div class="form-group">
        <label>Price After Discount</label>
        <input type="number" class="form-control" id="priceAfterDiscount" disabled="disabled" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.reservation.Paid">Paid</label>
        <input type="number" asp-for="@Model.reservation.Paid" id="Paid" class="form-control" onchange="changePaid();" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.reservation.Remain">Remian</label>
        <input type="number" asp-for="@Model.reservation.Remain" id="Remain" class="form-control" disabled="disabled" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>


<script src="~/js/Reservation.js"></script>
