@model ReservationViewModel

@{
    var hotelList = ViewBag.HotelList as SelectList;
    var packageList = ViewBag.PackageList as SelectList;
    var customerList = ViewBag.CustomerList;
    var selectedHotelId = ViewBag.hotelId;
    var selectedPackageId = ViewBag.packageId;
}
<style>
    label {
        margin: 0px;
    }
</style>
<input type="hidden" id="AdultPrice" />
<input type="hidden" id="KidPrice" />
<form asp-action="Create">
    <div class="form-group">
        <label asp-for="@Model.reservation.HotelId">Select Hotel</label>
        <select asp-for="@Model.reservation.HotelId" class="form-control" onchange="LoadPachages();" id="hotelSelect">
            <option value="0">Select Hotel</option>
            @foreach (var hotel in hotelList)
            {
                if (hotel.Value == selectedHotelId)
                {
                    <option value="@hotel.Value" selected>@hotel.Text</option>
                }else{
                    <option value="@hotel.Value">@hotel.Text</option>
                }
            }
        </select>
        <span asp-validation-for="@Model.reservation.HotelId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.reservation.PackageId">Select Package</label>
        <select asp-for="@Model.reservation.PackageId" class="form-control" onchange="packageChange()" id="packageSelect">
            <option value="0">Select Package</option>
            @foreach (var package in packageList)
            {
                if (package.Value == selectedPackageId)
                {
                    <option value="@package.Value" selected>@package.Text</option>
                }else{
                    <option value="@package.Value">@package.Text</option>
                }
                
            }
        </select>
        <span asp-validation-for="@Model.reservation.PackageId" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="@Model.customer.CustomerName">Customer Name</label>
                <input type="text" asp-for="@Model.customer.CustomerName" class="form-control" disabled="disabled" id="CustomerName" />
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="@Model.customer.NationalId">Customer National ID</label>
                <input type="number" asp-for="@Model.customer.NationalId" class="form-control" disabled="disabled" id="NationalId" />
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" style="margin-top:-5px"
                    class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#CrateNew">
                @Localizer["lbbtnSelectCustomer"]
            </button>
        </div>
        <input hidden="hidden" asp-for="@Model.reservation.CustomerId" id="CustomerId" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.reservation.AdultNo">Adults Count</label>
        <input type="number" id="AdultNo" asp-for="@Model.reservation.AdultNo " class="form-control" value="1" onchange="changeCounts()" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.reservation.KidNo">Kids Count</label>
        <input type="number" id="KidNo" asp-for="@Model.reservation.KidNo " class="form-control" value="0" onchange="changeCounts()" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.reservation.TotalPrice">Total Price</label>
        <input type="number" id="TotalPrice" asp-for="@Model.reservation.TotalPrice " class="form-control " disabled="disabled" />
        <input type="hidden" asp-for="@Model.reservation.TotalPrice" id="TotalPriceHidden" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.reservation.Discount">Discount</label>
        <input type="number" id="Discount" asp-for="@Model.reservation.Discount " class="form-control" value="0" onchange="caluclateDiscount();" />
    </div>
    <div class="form-group">
        <label>Price After Discount</label>
        <input type="number" class="form-control" id="priceAfterDiscount" disabled="disabled" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.reservation.Paid">Paid</label>
        <input type="number" asp-for="@Model.reservation.Paid" id="Paid" class="form-control" onchange="changePaid();" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.reservation.Remain">Remian</label>
        <input type="number" asp-for="@Model.reservation.Remain" id="Remain" class="form-control" disabled="disabled"/>
        <input type="hidden" asp-for="@Model.reservation.Remain" id="RemainHidden" />

    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

<div class="modal fade" id="CrateNew" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["lbbtnSelectCustomer"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section class="content">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-start">
                                    <h3 class="card-title" style="margin-left:20px">@Localizer["lbCurrentCustomer"]</h3>
                                    <div class="card-tools ">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table id="tableRole" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>@Localizer["lbID"]</th>
                                                <th>@Localizer["lbCustomerName"]</th>
                                                <th>@Localizer["lbNationalId"]</th>
                                                <th>@Localizer["lbbtnAction"]</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var customer in customerList)
                                            {
                                                <tr>
                                                    <td>@customer.CustomerId</td>
                                                    <td>@customer.CustomerName</td>
                                                    <td>@customer.NationalId</td>
                                                    <td>
                                                        <div class="col-3">
                                                            <input type="button" class="btn btn-info btn-sm" onclick="SelectCustomer('@customer.CustomerName','@customer.NationalId',@customer.CustomerId)" value="@Localizer["lbbtnSelectCustomer"]" data-bs-toggle="modal" />
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<script src="~/js/reservation.js"></script>

