@model List<ReservationViewModel>
@{
    ViewData["title"] = "Reservations";
    var currentCulture = ViewBag.currentCulture;
    var reservationpag = ViewBag.Reservationpag as Reservation;
}
<style>
    .table-responsive {
        overflow-x: auto;
    }

    #tableRole td,
    #tableRole th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<div class="wrapper">
    <!--Content-Header-->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left:20px">@Localizer[""]</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="@Url.Action("Create", "Reservations")" class="btn btn-success">@Localizer["lbbtAddNewReservation"]</a>
                            </div>
                        </div>
                        <div class="card-tools">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tableRole" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>@Localizer["lbCustomerName"]</th>
                                        <th>@Localizer["lbHotel"]</th>
                                       @*  <th>Package Name</th>
                                        <th>Reservation Date</th>
                                        <th>Adults Count</th>
                                        <th>Kids Count</th> *@
                                        <th>@Localizer["lbTotalPrice"]</th>
                                        <th>@Localizer["lbDiscount"]</th>
                                        <th>@Localizer["lbPriceAfterDiscount"]</th>
                                        <th>@Localizer["lbPaid"]</th>
                                        <th>@Localizer["lbRemain"]</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var reservation in Model)
                                    {
                                        <tr ondblclick="displayReservationDetails('@reservation.customer.CustomerName', '@reservation.hotel.HotelNameFL', '@reservation.package.PackageName', '@reservation.reservation.ReservationDateTime', '@reservation.reservation.AdultNo', '@reservation.reservation.KidNo', '@reservation.reservation.TotalPrice', '@reservation.reservation.Discount', '@(reservation.reservation.TotalPrice - reservation.reservation.Discount)', '@reservation.reservation.Paid', '@reservation.reservation.Remain')">
                                            <td>@reservation.customer.CustomerName</td>
                                            <td>
                                                @if (currentCulture == "ar")
                                                {
                                                    @reservation.hotel.HotelNameFL
                                                }
                                                else
                                                {
                                                    @reservation.hotel.HotelNameSL
                                                }
                                            </td>
                                            <td>@Math.Floor(reservation.reservation.TotalPrice)</td>
                                            <td>@Math.Floor(reservation.reservation.Discount)</td>
                                            <td>@Math.Floor((reservation.reservation.TotalPrice - reservation.reservation.Discount))</td>
                                            <td>@Math.Floor(reservation.reservation.Paid)</td>
                                            <td>@Math.Floor(reservation.reservation.Remain)</td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <a href="@Url.Action("Edit", "Reservations", new { id = reservation.reservation.ReservationId })" class="btn btn-warning btn-sm btn-block">@Localizer["lbbtnEdit"]</a>
                                                    </div>
                                                    <div class="col-4">
                                                        <form id="deleteForm-@reservation.reservation.ReservationId" asp-action="DeleteReservation" asp-controller="Reservations" method="post">
                                                            <input type="hidden" name="id" value="@reservation.reservation.ReservationId" />
                                                            <!-- Hidden input field to store the reason for deletion -->
                                                            <input type="hidden" id="deleteReasonInput" name="reason" />
                                                            <button type="button" class="btn btn-danger btn-sm btn-block" onclick="confirmDelete('@reservation.reservation.ReservationId')" id="confirmButton">@Localizer["lbbtnDelete"]</button>
                                                        </form>
                                                    </div>
                                                    <div class="col-4">
                                                        <button type="button" class="btn btn-primary" onclick="printReservation(@reservation.reservation.ReservationId)">Print Reservation</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="reservationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reservationModalLabel">@Localizer["lbReservationDetails"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">Customer Name</th>
                                <td><span id="customerName"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">Hotel Name</th>
                                <td><span id="hotelName"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">Package Name</th>
                                <td><span id="packageName"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">Reservation Date</th>
                                <td><span id="reservationDate"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">Adults Count</th>
                                <td><span id="adultsCount"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">Kids Count</th>
                                <td><span id="kidsCount"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">Total Price</th>
                                <td><span id="totalPrice"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">Discount Amount</th>
                                <td><span id="discountAmount"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">Price After Discount</th>
                                <td><span id="priceAfterDiscount"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">Paid</th>
                                <td><span id="paid"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">Remain</th>
                                <td><span id="remain"></span></td>
                            </tr>
                            <!-- Add more details here as needed -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




@section Script
{
    @if (!string.IsNullOrEmpty(Context.Session.GetString("msgType")))
    {
        if (Context.Session.GetString("msgType") == "success")
        {
            <script>
                Swal.fire({
                    icon: "success",
                    title: ' @Context.Session.GetString("titel")',
                    text: '@Html.Raw(Context.Session.GetString("msg"))',
                    showConfirmButton: 'حسناً',
                });
            </script>
        }
        else
        {
            <script>
                Swal.fire({
                    icon: "error",
                    title: '@Context.Session.GetString("titel")',
                    text: '@Html.Raw(Context.Session.GetString("msg"))',
                    showConfirmButton: 'حسناً',


                });

            </script>
        }
        Context.Session.SetString("msgType", "");
    }

    <script>
        function confirmDelete(customerId) {
            Swal.fire({
                title: '@Localizer["lbAreyousure"]',
                text: "@Localizer["lbCanback"]",
                icon: 'warning',
                showCancelButton: true,
                cancelButtonText: '@Localizer["lbcancelButtonText"]',
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: '@Localizer["lbYesdelete"]',
                input: 'text',
                inputPlaceholder: '@Localizer["lbNeedEnterReason"]',
                inputValidator: (value) => {
                    if (!value) {
                        return '@Localizer["lbNeedEnterReason"]';
                    }
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    // Get the reason entered by the user
                    var reason = result.value;
                    // Set the value of the hidden input field
                    document.getElementById('deleteReasonInput').value = reason;
                    // Submit the form
                    document.getElementById('deleteForm-' + customerId).submit();
                }
            });
        }
    </script>
    <script>
        // Function to show reservation details in the modal
        function showReservationInfo(reservationId) {
            // Perform AJAX request to fetch reservation details
            $.get('@Url.Action("GetReservationDetails", "Reservations")', { id: reservationId })
                .done(function (data) {
                    // Populate modal body with reservation details
                    $('#reservationDetails').html(data);
                });
        }
    </script>





    <script>
        function displayReservationDetails(customerName, hotelName, packageName, reservationDate, adultsCount, kidsCount, totalPrice, discountAmount, priceAfterDiscount, paid, remain) {
            // Set the values in the modal form
            document.getElementById("customerName").textContent = customerName;
            document.getElementById("hotelName").textContent = hotelName;
            document.getElementById("packageName").textContent = packageName;
            document.getElementById("reservationDate").textContent = reservationDate;
            document.getElementById("adultsCount").textContent = adultsCount;
            document.getElementById("kidsCount").textContent = kidsCount;
            document.getElementById("totalPrice").textContent = totalPrice;
            document.getElementById("discountAmount").textContent = discountAmount;
            document.getElementById("priceAfterDiscount").textContent = priceAfterDiscount;
            document.getElementById("paid").textContent = paid;
            document.getElementById("remain").textContent = remain;
            // Show the modal
            $('#reservationModal').modal('show');
        }
    </script>


    <script src="~/js/Reservation.js"></script>

}
