@model List<ReservationViewModel>
@{
    ViewData["title"] = "Reservations";
    var currentCulture = ViewBag.currentCulture;
    var reservationpag = ViewBag.Reservationpag as Reservation;
}
<style>
    .table-responsive {
        overflow-x: auto;
    }

    #tableRole td,
    #tableRole th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<div class="wrapper">
    <!--Content-Header-->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@ViewData["title"]</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Home/Index">@Localizer["lbHomePage"]</a></li>
                        <li class="breadcrumb-item active">@Localizer["lbMangeReservation"]</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h3 class="card-title" style="margin-left:20px">@Localizer["lbCurrentReservation"]</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="@Url.Action("Create", "Reservations")" class="btn btn-success">@Localizer["lbbtAddNewReservation"]</a>
                            </div>
                        </div>
                        <div class="card-tools">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tableRole" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Customer Name</th>
                                        <th>Hotel Name</th>
                                        <th>Package Name</th>
                                        <th>Reservation Date</th>
                                        <th>Adults Count</th>
                                        <th>Kids Count</th>
                                        <th>Total Price</th>
                                        <th>Discount Amount</th>
                                        <th>Price After Discount</th>
                                        <th>Paid</th>
                                        <th>Remain</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var reservation in Model)
                                    {
                                        <tr>
                                            <td>@reservation.customer.CustomerName</td>
                                            <td>
                                                @if (currentCulture == "ar")
                                                {
                                                    @reservation.hotel.HotelNameFL
                                                }
                                                else
                                                {
                                                    @reservation.hotel.HotelNameSL
                                                }
                                            </td>
                                            <td>@reservation.package.PackageName</td>
                                            <td>@reservation.reservation.ReservationDateTime</td>
                                            <td>@reservation.reservation.AdultNo</td>
                                            <td>@reservation.reservation.KidNo</td>
                                            <td>@Math.Floor(reservation.reservation.TotalPrice)</td>
                                            <td>@Math.Floor(reservation.reservation.Discount)</td>
                                            <td>@Math.Floor((reservation.reservation.TotalPrice - reservation.reservation.Discount))</td>
                                            <td>@Math.Floor(reservation.reservation.Paid)</td>
                                            <td>@Math.Floor(reservation.reservation.Remain)</td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-3">
                                                        <a href="@Url.Action("Edit", "Reservations", new { id = reservation.reservation.ReservationId })" class="btn btn-warning btn-sm">@Localizer["lbbtnEdit"]</a>
                                                    </div>
                                                    <div class="col-3">
                                                        <form id="deleteForm-@reservation.reservation.ReservationId" asp-action="DeleteReservation" asp-controller="Reservations" method="post">
                                                            <input type="hidden" name="id" value="@reservation.reservation.ReservationId" />
                                                            <button type="button" class="btn btn-danger btn-sm" onclick="confirmDelete('@reservation.reservation.ReservationId')">@Localizer["lbbtnDelete"]</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog card card-success card-outline">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["lbEditCustomers"]</h5>
                <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</a>
            </div>
            <div class="modal-body">
                <form asp-action="EditReservation" asp-controller="Reservations" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" hidden class="form-control" asp-for="@reservationpag.ReservationId" id="ReservationId" />
                        <input type="text" hidden class="form-control" asp-for="@reservationpag.EmployeeId" id="EmployeeId" />
                        <label  class="control-lable">@Localizer["lbCustomerName"]</label>
                        <input type="text" class="form-control" disabled="disabled" id="CustomerName" />
                    </div>
                    <div class="form-group">
                        <label asp-for="@reservationpag.Discount" class="control-lable">@Localizer["lbDiscount"]</label>
                        <input asp-for="@reservationpag.Discount" class="form-control" asp-for="customer.Address" id="Discount" />
                        <span asp-validation-for="@reservationpag.Discount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@reservationpag.AdultNo" class="control-lable">@Localizer["lbAdultNo"]</label>
                        <input asp-for="@reservationpag.AdultNo" class="form-control" asp-for="customer.Address" id="AdultNo" />
                        <span asp-validation-for="@reservationpag.AdultNo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@reservationpag.KidNo" class="control-lable">@Localizer["lbKidNo"]</label>
                        <input asp-for="@reservationpag.KidNo" class="form-control" asp-for="customer.Address" id="KidNo" />
                        <span asp-validation-for="@reservationpag.KidNo" class="text-danger"></span>
                    </div>

                    
                    <div class="modal-footer-rtl" style="padding:0 15px 15px 0">
                        <input type="submit" class="btn btn-success" value="@Localizer["lbbtnSave"]" />
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Script
{
    @if (!string.IsNullOrEmpty(Context.Session.GetString("msgType")))
    {
        if (Context.Session.GetString("msgType") == "success")
        {
            <script>
                Swal.fire({
                    icon: "success",
                    title: ' @Context.Session.GetString("titel")',
                    text: '@Html.Raw(Context.Session.GetString("msg"))',
                    showConfirmButton: 'حسناً',
                });
            </script>
        }
        else
        {
            <script>
                Swal.fire({
                    icon: "error",
                    title: '@Context.Session.GetString("titel")',
                    text: '@Html.Raw(Context.Session.GetString("msg"))',
                    showConfirmButton: 'حسناً',


                });

            </script>
        }
        Context.Session.SetString("msgType", "");
    }


    <script>
        function confirmDelete(customerId) {
            Swal.fire({
                title: '@Localizer["lbAreyousure"]',
                text: "@Localizer["lbCanback"]",
                icon: 'warning',
                showCancelButton: true,
                cancelButtonText: '@Localizer["lbcancelButtonText"]',
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: '@Localizer["lbYesdelete"]'
            }).then((result) => {
                if (result.isConfirmed) {
                    // If confirmed, submit the form
                    document.getElementById('deleteForm-' + customerId).submit();
                }
            });
        }
    </script>

    <script src="~/js/Reservation.js"></script>

}
