@model Customer


<h2>@Localizer["lbCreateCustomer"]</h2>

<form asp-action="CreateCustomer" method="post">
    <div class="form-group">
        <label asp-for="CustomerName">@Localizer["lbCustomerName"]</label>
        <input asp-for="CustomerName" class="form-control" />
        <span asp-validation-for="CustomerName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address">@Localizer["lbAddress"]</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Gender">@Localizer["lbGender"]</label>
        <select asp-for="Gender" class="form-control">
            <option value="1">@Localizer["lbMale"]</option>
            <option value="2">@Localizer["lbFemale"]</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NationalId">@Localizer["lbNationalId"]</label>
        <input asp-for="NationalId" class="form-control" />
        <span asp-validation-for="NationalId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">@Localizer["lbCreate"]</button>
    </div>
</form>

