@model CustomerViewModel




<div class="wrapper">
    <!--Content-Header-->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@Localizer["lbCurrentCustomer"]</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Home/Index">@Localizer["lbHomePage"]</a></li>
                        <li class="breadcrumb-item active">@Localizer["lbMangeCustomer"]</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--End Content-Header-->
    <!-----------------------------------Button To add Nwe User  ---------------------------------------->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-start">
                        <h3 class="card-title" style="margin-left:20px">@Localizer["lbCurrentCustomer"]</h3>

                        <button type="button" style="margin-top:-5px"
                                class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#CrateNew" onclick="Rest()">
                            @Localizer["lbbtnSaveNewUser"]
                        </button>
                        <div class="card-tools ">
                        </div>
                    </div>

                    <!----------------------------------- To ReViwe Users  ---------------------------------------->
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tableRole" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <td>@Localizer["lbCustomerName"]</td>
                                    <td>@Localizer["lbID"]</td>
                                    <td>@Localizer["lbAddress"]</td>
                                    <td>@Localizer["lbNationalId"]</td>
                                    <td>@Localizer["lbGender"]</td>
                                    
                                    <td>@Localizer["lbEvents"]</td>
                                 

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Customer in Model.customerlist)
                                {
                                    <tr>
                                        <td>@Customer.CustomerName</td>
                                        <td>@Customer.CustomerId</td>


                                        <td>@Customer.Address</td>
                                        <td>@Customer.NationalId</td>
                                        <td>
                                            @if (Customer.Gender == 1)
                                            {
                                                <text>@Localizer["lbMale"]</text>
                                            }
                                            else if (Customer.Gender == 2)
                                            {
                                                <text>@Localizer["lbFemale"]</text>
                                            }
                                            else
                                            {
                                                <text>Other</text> <!-- Handle other cases if necessary -->
                                            }
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-3">
                                                    <input type="button" class="btn btn-info btn-sm" onclick="Edit('@Customer.CustomerId','@Customer.CustomerName','@Customer.Gender','@Customer.Address','@Customer.NationalId')" value="@Localizer["lbbtnEdit"]" data-bs-toggle="modal" data-bs-target="#exampleModal" />
                                                </div>
                                                <div class="col-3">
                                                    <form id="deleteForm-@Customer.CustomerId" asp-action="DeleteCustomer" asp-controller="Customers" method="post">
                                                        <input type="hidden" name="id" value="@Customer.CustomerId" />
                                                        <button type="button" class="btn btn-danger btn-sm" onclick="confirmDelete('@Customer.CustomerId')">@Localizer["lbbtnDelete"]</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                    
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>


<!------------------------------------------ Popup Form To edit current customer  ----------------------------------------->


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog card card-success card-outline">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["lbEditCustomers"]</h5>
                <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</a>
            </div>
            <div class="modal-body">
                <form asp-action="EditCustomer" asp-controller="Customers" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" hidden class="form-control" asp-for="customer.CustomerId" id="CustomerId" />
                        <label asp-for="customer.CustomerName" class="control-lable">@Localizer["lbCustomerName"]</label>
                        <input type="text" class="form-control" asp-for="customer.CustomerName" id="CustomerName" />
                        <span asp-validation-for="customer.CustomerName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="customer.Address" class="control-lable">@Localizer["lbAddress"]</label>
                        <input asp-for="customer.Address" class="form-control" asp-for="customer.Address" id="Address" />
                        <span asp-validation-for="customer.Address" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="customer.NationalId" class="control-lable">@Localizer["lbNationalId"]</label>
                        <input asp-for="customer.NationalId" class="form-control" asp-for="customer.NationalId" id="NationalId" />
                        <span asp-validation-for="customer.NationalId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="customer.Gender" class="control-lable">@Localizer["lbGender"]</label>
                        <select asp-for="customer.Gender" class="form-control" id="gender">
                            <option value="1">@Localizer["lbMale"]</option>
                            <option value="2">@Localizer["lbFemale"]</option>
                        </select>
                        <span asp-validation-for="customer.Gender" class="text-danger"></span>
                    </div>
                    <div class="modal-footer-rtl" style="padding:0 15px 15px 0">
                        <input type="submit" class="btn btn-success" value="@Localizer["lbbtnSave"]"  />
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!------------------------------------------Popup Form To Add New user ----------------------------------------->


<div class="modal fade" id="CrateNew" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog card card-success card-outline">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["lbbtnSaveNewUser"]</h5>
                <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</a>
            </div>
            <div class="modal-body">
                <form asp-action="CreateCustomer" asp-controller="Customers" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="customer.CustomerName" class="control-lable">@Localizer["lbCustomerName"]</label>
                        <input type="text" class="form-control" asp-for="customer.CustomerName" id="CustomerName" />
                        <span asp-validation-for="customer.CustomerName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="customer.Address" class="control-lable">@Localizer["lbAddress"]</label>
                        <input asp-for="customer.Address" class="form-control" asp-for="customer.Address" id="Address" />
                        <span asp-validation-for="customer.Address" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="customer.NationalId" class="control-lable">@Localizer["lbNationalId"]</label>
                        <input asp-for="customer.NationalId" class="form-control" asp-for="customer.NationalId" id="NationalId" />
                        <span asp-validation-for="customer.NationalId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="customer.Gender" class="control-lable">@Localizer["lbGender"]</label>
                        <select asp-for="customer.Gender" class="form-control" id="gender">
                            <option value="1">@Localizer["lbMale"]</option>
                            <option value="2">@Localizer["lbFemale"]</option>
                        </select>
                        <span asp-validation-for="customer.Gender" class="text-danger"></span>
                    </div>
                    <div class="modal-footer-rtl" style="padding:0 15px 15px 0">
                        <input type="submit" class="btn btn-success" value="@Localizer["lbbtnSave"]" />
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


@section Script
{
    @if (!string.IsNullOrEmpty(Context.Session.GetString("msgType")))
    {
        if (Context.Session.GetString("msgType") == "success")
        {
            <script>
                Swal.fire({
                    icon: "success",
                    title: ' @Context.Session.GetString("titel")',
                    text: '@Html.Raw(Context.Session.GetString("msg"))',
                    showConfirmButton: 'حسناً',
                });
            </script>
        }
        else
        {
            <script>
                Swal.fire({
                    icon: "error",
                    title: '@Context.Session.GetString("titel")',
                    text: '@Html.Raw(Context.Session.GetString("msg"))',
                    showConfirmButton: 'حسناً',


                });

            </script>
        }
        Context.Session.SetString("msgType", "");
    }
    <script>
        function confirmDelete(customerId) {
            Swal.fire({
                title: '@Localizer["lbAreyousure"]',
                text: "@Localizer["lbCanback"]",
                icon: 'warning',
                showCancelButton: true,
                cancelButtonText: '@Localizer["lbcancelButtonText"]',
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: '@Localizer["lbYesdelete"]'
            }).then((result) => {
                if (result.isConfirmed) {
                    // If confirmed, submit the form
                    document.getElementById('deleteForm-' + customerId).submit();
                }
            });
        }
    </script>

    <script src="~/js/currentcustomer.js"></script>

}
<script src="c:\users\mango\source\repos\booking\booking\wwwroot\js\currentcustomer.js"></script>